body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    width: min(95vw, 800px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--common-spacing);
}

.search-bar,
.page-links {
    grid-column: 1 / -1;
}

.page-links {
    display: grid;
    grid-template-columns: subgrid;
    gap: 20px;
}