<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Content OS{% endblock %}</title>
    <script src="https://kit.fontawesome.com/6bf5f276c4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbar.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    {% if request.path != '/' %}
    <header>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link hoverable-white nulled-link">
                        <div class="logo">OS</div>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/posts" class="nav__link hoverable-white nulled-link">Posts</a>
                </li>
                <li class="nav__item">
                    <a href="/add-post" class="nav__link hoverable-white nulled-link">Add Posts</a>
                </li>
                <li class="nav__item">
                    <a href="/api/sync-media" id="sync-link" class="nav__link hoverable-white nulled-link">Sync Media</a>
                </li>
                <li class="nav__item">
                    <a href="/video-to-gif" class="nav__link hoverable-white nulled-link">Video to GIF</a>
                </li>
                <li class="nav__item nav__item--icon nav__item--icon--ask-ai">
                    <a href="/ask-ai" class="nav__link hoverable-white nulled-link">
                        Ask AI
                    </a>
                </li>
                <li class="nav__item nav__item--icon nav__item--icon--download">
                    <a href="/download" class="nav__link hoverable-white nulled-link">
                        <i class="fas fa-download"></i>
                    </a>
                </li>
                <div class="search-bar rounded-border-box">
                    <input type="text" name="search" id="search-input" class="search-bar__input" placeholder="Search..."
                        autocomplete="off">
                    <a href="#" class="search-bar__icon-link centered-grid hoverable-white nulled-link"
                        aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass search-bar__icon"></i>
                    </a>
                    <div id="search-suggestions" class="search-bar__search-suggestions"></div>
                </div>
            </ul>
        </nav>
    </header>
    {% endif %}

    <script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% block content %}{% endblock %}

    <!-- Page-specific scripts -->
    {% block scripts %}{% endblock %}
</body>

</html>