{% extends 'base.html' %}

{% block title %}Home - Content OS{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="logo">OS</div>
    <div class="search-bar rounded-border-box">
        <input type="text" name="search" id="search-input" class="search-bar__input" placeholder="Search posts and topics..."
            autocomplete="off">
        <a href="#" class="search-bar__icon-link centered-grid hoverable-white nulled-link" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass search-bar__icon"></i>
        </a>
        <div id="search-suggestions" class="search-bar__search-suggestions"></div>
    </div>
    <section class="page-links">
        <div class="page-links__item page-links__item--posts rounded-box">
            <h2 class="page-links__title">Posts</h2>
            <div class="page-links__desc">See all the posts, filter them with custom criteria and more.</div>
            <a href="/posts">
                <button class="page-links__button btn btn--primary">
                    Go to page
                </button>
            </a>
        </div>

        <div class="page-links__item page-links__item--topics rounded-box">
            <h2 class="page-links__title">Topics</h2>
            <div class="page-links__desc">See all the topics, filter them with custom criteria and more.</div>
            <a href="/topics">
                <button class="page-links__button btn btn--primary">
                    Go to page
                </button>
            </a>
        </div>
        <div class="page-links__item page-links__item--add-post rounded-box">
            <h2 class="page-links__title">Add new posts</h2>
            <div class="page-links__desc">Create a new post and add it to the database.</div>
            <a href="/add-post">
                <button class="page-links__button btn btn--primary">
                    Go to page
                </button>
            </a>
        </div>
        <div class="page-links__item page-links__item--download-posts rounded-box">
            <h2 class="page-links__title">Download all posts</h2>
            <div class="page-links__desc">Download all the post data as a JSON file.</div>
            <a href="/download">
                <button class="page-links__button btn btn--primary">
                    Download
                </button>
            </a>
        </div>
        <div class="page-links__item page-links__item--video-to-gif rounded-box">
            <h2 class="page-links__title">Video to GIF</h2>
            <div class="page-links__desc">Convert a MP4 video to GIF without loosing quality.</div>
            <a href="/video-to-gif">
                <button class="page-links__button btn btn--primary">
                    Go to page
                </button>
            </a>
        </div>
        <div class="page-links__item page-links__item--ask-ai rounded-box">
            <h2 class="page-links__title">Ask AI</h2>
            <div class="page-links__desc">Ask questions to AI about anything about the database.</div>
            <a href="/ask-ai">
                <button class="page-links__button btn btn--primary">
                    Go to page
                </button>
            </a>
        </div>
    </section>
</main>
{% endblock %}